@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/woff/Poppins-Light.woff") format("woff"),
    url("./assets/fonts/ttf/Poppins-Light.ttf") format("ttf");
  font-weight: 300;
}
@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/woff/Poppins-Medium.woff") format("woff")
    url("./assets/fonts/ttf/Poppins-Medium.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/woff/Poppins-Regular.woff") format("woff")
    url("./assets/fonts/ttf/Poppins-Regular.ttf") format("ttf");
  font-weight: 500;
}
* {
  font-family: "Poppins", "sans-serif";
  color: #333533;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  background-color: #fafafa;
}
a {
  text-decoration: none;
}
.header {
  background-color: #333533;
}
.header .title {
  color: #ffd100;
  font-size: 56 px;
}
.header .position {
  color: #fafafa;
  font-size: 32px;
  height: 376px;
}
.button {
  color: #ffd100;
  border: 1px solid #ffd100;
  border-radius: 4px;
}
.lang {
  color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 4px;
}
.header img {
  width: 290px;
  height: 290px;
  border-radius: 50%;
}
