@media only screen and(max-width:992px) {
  nav {
    display: none;
  }
  .sections,
  .sections .section:last-child {
    width: auto;
    border: none;
  }
  .header {
    height: auto;
  }
  .header img {
    width: 150px;
    height: 150px;
  }
  .header .title h1 {
    font-size: 36px;
  }
  .header .position {
    font-size: 24px;
    margin: 30px 0px;
  }
  .title .button {
    border: 1px solid #333533;
    width: 100%;
  }
}
