@font-face {
  font-family: "poppins";
  src: url("/fonts/woff/Poppins-Light\ \(1\).woff") format("woff"),
    url("/assets/fonts/ttf/Poppins-Light.ttf") format("ttf");
  font-weight: 300;
}
@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/woff/Poppins-Medium.woff") format("woff")
    url("./assets/fonts/ttf/Poppins-Medium.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/woff/Poppins-Regular.woff") format("woff")
    url("./assets/fonts/ttf/Poppins-Regular.ttf") format("ttf");
  font-weight: 500;
}
/* GLOBALLY */
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  background-color: #fafafa;
  color: #333533;
  margin: 0;
}
/* CONTAINER */
a {
  text-decoration: none;
}
h2 {
  font-weight: 400;
}
h5 {
  margin-bottom: 5px;
  color: #a0a0a0;
  font-weight: 500;
  font-size: 18px;
}
#pro {
  color: #333533;
  font-weight: 500;
}
h6 {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
/* HEADER */
.header .title h1,
.position i,
.button,
.button i {
  color: #ffd100;
}

.header,
.container {
  display: flex;
  justify-content: center;
  padding: 45px 0;
}

.header {
  background-color: #333533;
  height: 376px;
  align-items: center;
}
.header .title {
  margin: 0 50px;
}
.header .title h1 {
  font-size: 56 px;
  margin: 0;
  line-height: 1;
}
.header .position {
  color: #fafafa;
  font-size: 32px;
  margin: 40px 0;
}

.button {
  border: 1px solid #ffd100;
  border-radius: 4px;
  padding: 8px 24px;
}

.button:hover,
.button:hover i {
  background-color: #ffd100;
  color: #333533;
}
.button i {
  margin: 6px;
}

.lang {
  color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  opacity: 0.7;
  align-self: flex-start;
}
.lang:hover {
  opacity: 1;
}
.lang i {
  color: #fafafa;
  margin-right: 4px;
}
.header img {
  width: 290px;
  height: 290px;
  border-radius: 50%;
}
/* NAVBAR */
nav {
  width: 250px;
  font-size: 24px;
  font-weight: 400;
}
nav ul li {
  cursor: pointer;
}
nav li .active {
  font-weight: 500;
}
nav ul li .marker {
  width: 42px;
  height: 42px;
  border: 1px solid #333533;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 42px;
  margin-right: 12px;
}
nav ul li.active .marker,
nav ul li:hover .marker {
  background-color: #333533;
  color: #ffd100;
  font-size: 22px;
}
nav ul li:not(:last-child)::after {
  content: "";
  display: block;
  height: 48px;
  border-left: 1px dashed #333533;
  margin: 16px 0px 16px 21px;
}
/* SECTIONS */
.sections {
  width: 700px;
  border-left: 1px solid #333533;
  padding-left: 50px;
}
.sections .section:last-child {
  width: 880px;
}
.contact {
  display: flex;
}
.contact div {
  width: 50%;
}
.contact p {
  margin: 0;
}
.contact p i {
  margin-left: 10px;
  font-size: 16px;
  color: #a0a0a0;
  cursor: pointer;
}
.contact p i:hover {
  color: #333533;
}
.socials li {
  display: inline-block;
  margin-right: 24px;
}
.socials li a span {
  display: inline-block;
  width: 56px;
  height: 56px;
}
.socials li span.linkedin {
  background-image: url("../icon/social/linkedin.png");
}
.socials li:hover span.linkedin {
  background-image: url("../icon/social/linkedin-hover.png");
}
.socials li span.github {
  background-image: url("../icon/social/github.png");
}
.socials li:hover span.github {
  background-image: url("../icon/social/github-hover\ \(1\).png");
}
.socials li span.stackoverflow {
  background-image: url("../icon/social/stackoverflow.png");
}
.socials li:hover span.stackoverflow {
  background-image: url("../icon/social/stackoverflow-hover.png");
}
.socials li span.twitter {
  background-image: url("../icon/social/twitter.png");
}
.socials li:hover span.twitter {
  background-image: url("../icon/social/twitter-hover.png");
}
.socials li span.telegram {
  background-image: url("../icon/social/telegram.png");
}
.socials li:hover span.telegram {
  background-image: url("../icon/social/telegram-hover.png");
}
.socials li span.whatsapp {
  background-image: url("../icon/social/whatsapp.png");
}
.socials li:hover span.whatsapp {
  background-image: url("../icon/social/whatsapp-hover.png");
}
.socials li span.instagram {
  background-image: url("../icon/social/instagram.png");
}
.socials li:hover span.instagram {
  background-image: url("../icon/social/instagram-hover.png");
}
.skills li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #a0a0a0;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px 24px;
}
.skills li img {
  vertical-align: middle;
  margin-right: 6px;
}
.skills li .title {
  font-weight: 500;
}
.skills li span i {
  padding: 10px 12px;
  border-left: 1px solid #a0a0a0;
}
.other-skills li {
  border: 1px solid #a0a0a0;
  border-radius: 24px;
  display: inline-block;
  padding: 4px 16px;
  margin: 0px 16px 18px 0px;
}
.project {
  border: 1px solid #a0a0a0;
  border-radius: 8px;
  padding: 11px;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.project .title {
  font-weight: 500;
  font-size: 20px;
  margin-top: 12px;
}
.project .description {
  font-size: 14px;
}
.tech {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.tech ul li {
  display: inline-block;
}
.tech ul li img {
  width: 25px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  margin-right: 20px;
  margin-bottom: 36px;
}
/* .project {
  width: 880;
} */
.project .buttons {
  display: flex;
}
.project .buttons a {
  width: 50%;
  color: #333533;
  font-size: 13px;
  font-weight: 500;
  padding: 4px 8px;
  border: 1px solid transparent;
}
.project .buttons a i {
  margin-right: 5px;
}
.project .buttons a:last-child,
.project .buttons a:first-child:hover {
  border: 1px solid #333533;
  border-radius: 3px;
}
.project .buttons a:last-child:hover {
  color: #fafafa;
  background-color: #333533;
}
